@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor--primaria: #000000;
    --cor--secundaria: #f6f6f6;
    --cor--terciaria: #22d4fd;
    --cor--hover1: #0000ff;
    --cor--hover2: #272727;

    --font--primaria: "Krona One", sans-serif;
    --font--secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    color: var(--cor--secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font--secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor--terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.apresentacao___conteudo {
    width: 615px; /*Define um limite para o texto*/
    margin:0 auto; /*Centraliza*/
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao___conteudo__titulo {
    font-size: 36px;
    font-family: var(--font--primaria);
    font-weight: 400;
}

.titulo-destaque {
    color: var(--cor--terciaria);
}

.apresentacao___conteudo__texto {
    font-size: 20px;
    font-family: var(--font--secundaria);
}

.apresentacao___conteudo__texto strong {
    color: var(--cor--terciaria); /*Destaca palavras importantes*/
}

.apresentacao___conteudo__texto em {
    font-style: italic; /*Dá ênfase a partes importantes*/
}

.apresentacao___conteudo__texto a {
    color: var(--cor--terciaria);
    text-decoration: underline;
}

.icone-rocket {
    display: inline-block;
    font-size: 22px;
}

.apresentacao___conteudo__texto__sub-texto {
    text-align: center;
}

.apresentacao img {
    max-width: 35%;
    height: auto;
    border-radius: 10px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font--primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 4px solid var(--cor--terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family: var(--font--secundaria);
}

.apresentacao__links__link:hover {
    border: 2px solid var(--cor--hover1);
    cursor: pointer;
    background-color: var(--cor--hover2);
    padding: 3%;
}

.experiencia {
    margin-bottom: 20px;
    padding: 15px;
    border-left: 4px solid var(--cor--terciaria); /*Adiciona um detalhe na borda esquerda*/
    font-family: var(--font--secundaria);
}

.experiencia h3 {
    font-size: 22px;
    font-weight: bold;
    color: var(--cor--terciaria);
}

.experiencia p {
    font-size: 18px;
    color: var(--cor--secundaria);
    line-height: 1.5;
}

.rodape {
    padding: 30px;
    color: var(--cor--primaria);
    background-color: var(--cor--terciaria);
    text-align: center;
    font-family: var(--font--secundaria);
    font-size: 24px;
    font-weight: 400;
}
